p.error(ng-class="{ invisible: !vm.error }") {{ vm.errorMessage }}

form(ng-submit="vm.submit()")
  .first-name
    input.widest(type="text" name="first-name" ng-model="vm.firstName" required=true placeholder="first name")

  .last-name
    input.widest(type="text" name="last-name" ng-model="vm.lastName" required=true placeholder="last name")

  .organization
    input.widest(type="text" name="organization" ng-model="vm.organization" required=true placeholder="organization")

  hr

  input.widest(type="text" name="username" ng-model="vm.username" required=true placeholder="username")

  input.widest(type="password" name="password" ng-model="vm.password" required=true placeholder="password")

  input.widest(type="email" name="email" ng-model="vm.email" required=true placeholder="email")

  button.action.submit(type="submit") Register
